.header{
    width: 100%;
    height: 250px;
    margin: 0 auto;
    // position: sticky; top: 0;
    z-index: 4;
    background: white;
}


.header__container1{
    width: 80%;
    height: 60%;
    padding: 10px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    width: 20%;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.header__logo--img{
    max-height: 100%;
}

.header__search{
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 25px;
}
    .header__search--input{
        width: 70%;
        height: 90%;
        padding: 15px 20px;
        outline: none;
        border: none;
        border-radius: 25px;
    }
    .header__separator{
        width: 1px;
        height: 30px;
        margin: 0 5px;
        background: rgb(221, 221, 221);
    }
    .header__search--select{
        height: 90%;
        margin: 0 5px;
        border: none;
    }
    .search__select--option{}
    .header__search--button{
        width: 11%;
        height: 40px;
        border-radius: 25px;
        background: #7c7c7c;
        color: white;
        font-size: 1.3rem;
        cursor: pointer;
        &:hover{
            background: #333;
        }
    }
    .header__search--icon{
    }


.header__container2{
    height: auto;
    padding: 10px 0;
    margin: 0 auto;
    display: flex;
    
}
.header__top-menu{
    width: 100%;
    height: 70vh;
    padding: 1% 2%;
    padding-left: 10%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.header__top-menu--link{
    width: 40%;
    height: 100%;
    padding: 1%;
    margin: 1%;
    position: relative;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover > .header__button--bg{
        opacity: 1;
    }
    &:nth-child(1) > .header__button--bg{
        background: url('/assets/supsBtn.jpg') no-repeat center/cover; 
    }
    &:nth-child(2) > .header__button--bg{
        background: url('/assets/woodsBtn.jpg') no-repeat center/cover;
    }
}
.header__button--bg{
    width: 100%;
    height: 100%;
    opacity: .7;
    position: absolute;
    z-index: 1;
}
.header__link--span{
    padding: 10px;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.85);
    z-index: 2;
}