.header{
    width: 100%;
    margin: 0 auto;
    position: sticky; top: 0;
    z-index: 4;
    background: white;
}


.header__container{
    width: 80%;
    height: 100%;
    padding: 10px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    width: 15%;
    height: 100%;
}

.header__search{
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 25px;
}
    .header__search--input{
        width: 70%;
        height: 90%;
        padding: 15px 20px;
        outline: none;
        border: none;
        border-radius: 25px;
    }
    .header__separator{
        width: 1px;
        height: 30px;
        margin: 0 5px;
        background: rgb(221, 221, 221);
    }
    .header__search--select{
        height: 90%;
        margin: 0 5px;
        border: none;
    }
    .search__select--option{}
    .header__search--button{
        width: 11%;
        height: 40px;
        border-radius: 25px;
        background: #7c7c7c;
        color: white;
        font-size: 1.3rem;
        cursor: pointer;
        &:hover{
            background: #333;
        }
    }
    .header__search--icon{
    }
