
  a{
    text-decoration: none;
  }
  .item-view{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    padding-top: 2px;
  }
  .item-view__item{
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #d7dbe7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: box-shadow .2s;
    &:hover{
      box-shadow: 0px 3px 5px 1px rgb(223, 223, 223);
      z-index: 2;
      border-radius: 10px;
    }
    &:hover > .item-view__cart{
      opacity: 1;
    }
  }
  .item-view__compare{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;
    top: 15px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 20px;
  }
  .item-view__image{
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
  .item-view__desc{
    color: #000;
    font-size: 1rem;
  }
    .item-view__title{
      background: #222;
      width: 100%;
      height: 20px;
      text-align: left;
      text-decoration: none;
      background: white;
      color: #000;
    }
    .title:hover{
      text-decoration: underline;
    }
    .item-view__short-stats{
      width: 90%;
      height: 30%;
      padding: 10px 0 20px 0;
    }
    .item-view__short-stats--p{
      margin: 1px;
      text-align: left;
      font-size: .8rem;
      color: gray;
    }
    .item-view__price{
      display: flex;
      justify-content: space-between;
      text-align: left;
    }
    .item-view__cart{
      width: 40px;
      height: 40px;
      position: absolute;
      right: 16px;
      bottom: 16px;
      border: 1px solid rgb(0, 189, 57);
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3rem;
      transition: background-color .2s, opacity .3s;
      &:hover{
        background: rgb(0, 189, 57);
      }
      opacity: 0;
    }
  
    @media(max-width: 1070px){
      .item-view__item{
        flex: 1 50%;
        border-bottom: 1px solid gray;
      }
      .item-view__item:nth-child(2n){
        border-left: 1px solid gray;
      }
      .item-view__title{
        font-size: 1.3rem;
      }
      .item-view__short-stats{
        font-size: 1.1rem;
      }
      .item-view__image{
        max-width: 100%;
      }
    }
    
  @media(max-width: 768px){
  }
  
  @media(max-width: 720px){
    .item-view__item{
      flex: 1 100%;
    }
  }
  
  @media(max-width: 768px){
    .item-view__short-stats{
      display: none;
    }
  }