  
.shop-content{
  width: 70%;
  display: flex;
}
  
  div{
  }
  a{
    color: inherit;
  }
  .navigation{
    width: 100vw;
    margin: 2px 0;
  }
  shop-filters{
     width: 20vw;
  }
  .items-list{
    width: 70%;
    padding-top: 30px;
    margin-left: 1vw;
  }
  .itemsView{
    width: 100%;
    height: 300px;
  }
  .items-list-position div
  {
    text-align: center;
  }
  .changeView{
    width: 160px;
    height: 40px;
    background: #fff;
  }
  .changeView div{
    width: 22px;
    height: 16px;
    margin: 5px;
    float: left;
    cursor: pointer;
  }
  .largeBricks{ background: url('./largeBricks.png'); }
  .largeBricks:hover{ background: url('./largeBricksH.png'); }
  .largeBricksH{ background: url('./largeBricksH.png'); }
  
  .smallBricks{ background: url('./smallBricks.png'); }
  .smallBricks:hover{ background: url('./smallBricksH.png'); }
  .smallBricksH{ background: url('./smallBricksH.png'); }
  
  .largeList{ background: url('./largeList.png'); }
  .largeList:hover{ background: url('./largeListH.png'); }
  .largeListH{ background: url('./largeListH.png'); }
  
  .smallList{ background: url('./smallList.png'); }
  .smallList:hover{ background: url('./smallListH.png'); }
  .smallListH{ background: url('./smallListH.png'); }
  
  
  .loading{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
  }
  
  
  @media(max-width: 1024px){
    shop-filters{
      font-size: 1.2rem;
    }
    .itemsList{
      margin: 0;
    }
  }
  @media(max-width: 768px){
    shop-filters{
    }
    .itemsList{
      margin: 0;
    }
  }
  @media(orientation: portrait){
    shop-filters{
      width: 20vw;
    }
    .itemsList{
      width: 80vw;
      margin: 0;
    }
  }