.promotions{
    grid-row: 4 / 10;
    grid-column: 4 / 17;
    position: relative;
}
.promotions__button--left, .promotions__button--right{
    width: 40px;
    height: 40px;
    background: white;
    border: 1px solid black;
    border-radius: 20px;
    position: absolute; top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
}

.promotions__button--left{
    transform: translate(-50%, -50%);
    left: 0;
}
.promotions__button--right{
    transform: translate(50%, -50%);
    right: 0;
}

.promotions__banners--container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #aaa;
    border-radius: 25px;
    position: relative;
}

.banners{
    width: 400%;
    height: 100%;
    display: flex;
    flex-shrink: 0;
    position: absolute;
    left: 0%;
    transition: left .2s ease-out;
}
.banner{
    width: 25%;
    height: 100%;
    transform: translateX(0%);
    font-size: 2rem;
    &:nth-child(1){
        color: rgb(255, 255, 233);
        background-color: orange;
    }
    &:nth-child(2){
        color: rgb(238, 235, 255);
        background-color: blue;
    }
    &:nth-child(3){
        color: rgb(245, 232, 255);
        background-color: blueviolet;
    }
    &:nth-child(4){
        color: rgb(240, 255, 188);
        background-color: green;
    }
}