.panel__add-prod{
    width: 40%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid rgb(223, 223, 223);
    box-shadow: 0 3px .6em rgb(233, 233, 233);
}

.panel__add-prod--title{
    width: 100%;
    height: 40px;
}

.panel__add-prod--form{
    width: 100%;
}

.panel__add-prod--name{
    width: 100%;
    height: 40px;
}

.panel__add-prod--desc{
    width: 100%;
}

.panel__add-prod--price{
    width: 15%;
}

.panel__add-prod--submit{
    width: 15%;
    margin-left: 70%;
}

.panel__add-prod--input{
    padding: 1%;
    margin-bottom: 2%;
    border: 1px solid rgb(223, 223, 223);
    box-shadow: 0 3px .6em rgb(233, 233, 233);
    outline: none;
    &:focus{
        border: 1px solid rgb(167, 167, 167);
    }
}