.panel__prods-list--item{
    width: 100%;
    height: 60px;
    padding: 5px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panel__prods-list--title{
    width: 40%;
}
.panel__prods-list--description{
    width: 40%;
    height: 100%;
    overflow: hidden;
}
.panel__prods-list--price{
    width: 10%;
}

.panel__prods-list--edit{
  width: 35px;
  height: 35px;
  border: 1px solid rgb(35, 222, 255);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  transition: background-color .2s, opacity .3s;
  &:hover{
    background: rgb(23, 131, 255);
  }
  cursor: pointer;
}

.panel__prods-list--delete{
  width: 35px;
  height: 35px;
  border: 1px solid rgb(255, 129, 129);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  transition: background-color .2s, opacity .3s;
  &:hover{
    background: rgb(255, 129, 129);
  }
  cursor: pointer;
}